@keyframes fadeIn{
    from {
        opacity: 0;
        transform:translateY(20px);
        background-color: rgb(236, 64, 51);

    }
    to {
        opacity: 1;
        transform:translateY(0);
        
    }
     }
@keyframes fadeInFooter{
    from{
        opacity: 0%;
        transform:translateY(20px);
        background-color: white;
    }
    to {
        opacity: 1;
        transform:translateY(0);
        
    }
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    margin: auto;
    padding: 0;
    height: 100%;
    max-width:max-content;
    animation: fadeIn 1.5s forwards;
    overflow-x: hidden;
    max-width: 100%;   
    background-image: url(fundo.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(8px); /* Ajuste o valor para mais ou menos desfoque */
    animation: fadeIn 2.5s forwards;
    
}  
   

footer{
    bottom: 0;
    position: relative;
    width: 100%;
    padding:3%;
    background-color:rgb(236, 64, 51);
    border-top:solid;
    border-color: white;
    animation: fadeInFooter 1.5s ease-in-out;
    align-items: center;
    color: white;
    margin-bottom: 0;
    

}


.formcontato{
    background-color: white;
    color: rgb(236, 64, 51);
    padding: 70px;
    margin-top: 5%;
    border: solid;
    border-color: rgb(236, 64, 51);
    border-radius: 20px;
    margin-left: 15%;
    margin-right: 10%;
    
}
.contatorodape{
    margin-left: 50%;
    margin-top: -7%;

}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    margin-left: 23%;

}
input{
    border-radius: 10px;
    border: outset;
    color: black;
    background-color: white;
    
    }
textarea{
    border-radius: 10px;
    border: outset;
    color: black;
    background-color: white;
    width: 95%;  
    height: 55px; 
    padding: 10px;
    font-size: 16px; 
    display: block;
    resize: none;

}
button{
    font-family: "Montserrat";
    width: 15%;
    margin-top: 5%;
    margin-left: 41%;
    background-color: white;
    border: solid;
    border-color: rgb(236, 64, 51);
    border-radius: 15px;
    transition: background-color 1.5s, transform 0.2s;
    cursor: pointer;
    color: rgb(236, 64, 51);
    }

button:hover {
    box-shadow: 0 0 0 4px;
    background-color: rgb(236, 64, 51);
    transition: 1.5s all;
    color: white;
}
.textozap{
    font-size:30px;
}
.zap{
    margin-left: 42%;
    transition: all 0.3s ease-in-out;
}
.zap:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba (0,0,0, 0.5);
    opacity: 0.5
}
.container {
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-right: 30%;
    margin-left:30%;
    margin-bottom: 20%;
    animation: fadeIn 1.5s ease-in-out forwards;
    border-radius: 20px;
    max-width: 100%;
    width: contain;
    overflow: hidden;
   
}
video {
    width: 500px; 
    border-radius: 10px;
    border: solid;
    border-color: rgb(236, 64, 51);
   
     }
.textovideo h1{
    border-bottom:solid;
    border-color: rgb(236, 64, 51)
}
.quemsomos{
    background-color: white;
    padding: 10%;
    animation: fadeIn 1.5s ease-in-out forwards;
    margin-top: 35%;
    margin:0;
    border-top: solid;
    border-color:rgb(236, 64, 51);
    width: 80vw;
    
    
}
.tituloquemsomos {
    border-bottom: solid;
    border-color: rgb(236, 64, 51);
}
.textoquemsomos{
    border-bottom: solid;
    border-color: rgb(236, 64, 51)
}
.slider-container {
    width: 700px; 
    height: 400px; 
    overflow: hidden;
    border-radius: 20px;
    margin: 40px auto; 
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.slider {
    display: flex;
    width: 500%;
    height: 100%;
    animation: slide 20s infinite;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }

    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }

    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }

    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }

    100% { transform: translateX(0%); }
}

    
header{
   background-color: white;
   padding: 10px;
   border-bottom:solid 4px;
   border-radius: 5px;
   border-color: rgb(236, 64, 51);
   box-shadow: 10px 10px 10px 10px black;
   animation: fadeIn 1.5s ease-in-out forwards;
   position:sticky;
   width: 100vw;
   
   

   
 }
 .cabecalho {
    align-items: center;
    justify-content: space-between;
    margin: 0;
    max-width: 100%;
}
.cabecalho ul{
    display:inline-flex;
    list-style: none;
    text-align: center;
    
    
}
header {
    background-color: white;
    padding: 10px;
    border-bottom: solid 4px rgb(236, 64, 51);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
    animation: fadeIn 1.5s ease-in-out forwards;
    position: relative;
    top: 0;
    width: 100%; /* Alterado de 100vw para 100% */
    z-index: 1000;
 }
 
 .cabecalho {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 auto;
     max-width: 1200px; 
     padding: 10px;
 }
 
 .cabecalho ul {
     display: flex; 
     list-style: none;
     text-align: center;
     gap: 90px; 
     padding: 0;
 }
 
 #logo {
     width: 230px; 
 }
 
 nav li {
     margin: 0;
     color: rgb(82, 84, 86);
     font-size: 2.3rem; 
 }
 
 ul li a { 
     text-decoration: none;
     color: rgb(82, 84, 86); 
     border-radius: 10px;
     transition: 0.3s;
     padding: 5px 10px;
 }
 
 nav a:hover {
     box-shadow: 0 0 10px rgba(236, 64, 51, 0.5);
     background-color: rgb(236, 64, 51);
     color: white;
     padding: 5px 10px;
 }

#fdedicado{
    width: 100px;
    border-left: solid;
    border-color: rgb(236, 64, 51);


}
#descarga{
    width: 100px;
    border-left: solid;
    border-color: rgb(236, 64, 51);
}
#funcionario{
    width: 100px;
    border-left: solid;
    border-color: rgb(236, 64, 51)
}
.servicos{
    margin-left: 0;
    background-color: white;
    width: 100%;
    height: auto;
 }
.servicos ul li{
    list-style: none;
    display: flex;
    align-items:center;
    
}
.mapa{
    margin-top:20%;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    background-color: white;

}
.mapa h1{
    font-size: 4rem;
    color:rgb(236, 64, 51);
    margin-left: 30%;
    background-color: white;
    
    
}

.mapadanditha {
    
    background-image: url('mapaembranco.png');
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%; 
    max-width: 700px; 
    height: 600px;
    margin: 0 auto; 
    transition: background-image 0.5s ease-in-out; 
}

.mapadanditha:hover {
    background-image: url('mapadanditha.png'); 
}
.parceiros{
    border-top:solid;
    border-color:rgb(236, 64, 51);
    border-radius:10px;
    margin-top: 10%;
    
}

#opclientes{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    
}
.topo{
    margin-top: 15%;
    font-size: 1rem;
    margin-left: 34%;
}
.topo a{
    color: rgb(236, 64, 51);
    text-decoration: none;
}
.topo a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .formcontato {
        margin-left: 5%;
        margin-right: 5%;
        padding: 40px;
    }
    
    form {
        width: 80%;
        margin-left: 10%;
    }
    
    button {
        width: 50%;
        margin-left: 25%;
    }
    
    .container {
        flex-direction: column;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    video {
        width: 100%;
    }
    
    
    .mapa {
        width: 100%;
    }
    .contatorodape{ 
        margin-top: auto;
        margin-left: 0;
        border-top: solid;
         }
        
    .cabecalho {
        flex-direction: column;
        text-align: center;
    }
    
    .cabecalho ul {
        flex-direction: column;
        gap: 20px;
    }
    
    nav li {
        font-size: 1.6rem;
    }
    .cabecalho {
        flex-direction: column;
        text-align: center;
    }
    
    .cabecalho ul {
        flex-direction: column;
        gap: 20px;
    }
    
    nav li {
        font-size: 1.6rem;
    }
    
}
 


@media screen and (min-width: 1025px) {
    .mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-bottom: solid;
        border-color: rgb(236, 64, 51);
        
    }
    
    .mapa h1 {
        text-align: center;
        margin: 0 auto;
    }
    
    #mapa {
        display: block;
        margin: 0 auto;
        max-width: 80%;
    }
    .container {
        flex-direction: column;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    .servicos{
        width:100vw;
        display: flex;
        width: 100%;
        margin-bottom: -20%;
        
        
    }
    .servicos ul{
        margin-left: 9%;

    }
}

@media screen and (max-width: 768px) {
    .cabecalho ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    nav li {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
    
    .servicos ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    
    .servicos ul li {
        display: block;
        margin-bottom: 20px;
        margin: 0 auto;
    }
    
    .mapa h1 {
        font-size: 2rem;
        text-align: center;
        margin-left: 0;
    }
    .slider-container{
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }
    .mapa{
        border-top: solid;
        border-bottom: solid;
        border-color: rgb(236, 64, 51);
         }
    .mapadanditha{
        background-image: url(mapadanditha.png);
    }
    }

@media screen and (max-width: 480px) {
    .formcontato {
        padding: 20px;
    }
    
    form {
        width: 100%;
        margin-left: 0;
    }
    
    button {
        width: 100%;
        margin-left: 0;
    }
    
    .container {
        margin-left: 0;
        margin-right: 0;
    }
    
    .mapa h1 {
        font-size: 1.5rem;
    }
    .slider{
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }
   .slider-container{
    overflow: hidden;
    max-width: 100%;
    height: auto;
   }
   .mapa{
    border: solid;
    border-color: rgb(236, 64, 51);
     }
   .mapadanditha{
    background-image: url(mapadanditha.png);
   }
}
/* CSS destinado as classes de sections e script */
.hidden{
    opacity: 0;
    filter: blur(15px);
    transition:all 1.5s;
    transform:translateX(-100%)
}
.show{
    opacity: 1;
    filter: blur(0px);
    transition: all 1.5s;
    transform: translateX(0%);
}
